<ul class="menu">
  <li>
    <a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}">Home</a>
  </li>
  <li>
    <span>|</span><a href="{{ '/#how' | prepend: site.baseurl | prepend: site.url }}">Need help?</a>
  </li>
  <li>
    <span>|</span><a href="{{ '/workshops' | prepend: site.baseurl | prepend: site.url }}">Workshops</a>
  </li>
  <li>
    <span>|</span><a href="{{ '/workwithme' | prepend: site.baseurl | prepend: site.url }}">Work in person</a>
  </li>
  <li>
    <span>|</span><a target='_blank' href="https://www.youtube.com/channel/{{site.harmony.social.youtube}}">Videos</a>
  </li>
  <li>
    <span>|</span><a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}">About me</a>
  </li>
  <li>
    <span>|</span><a href="{{ '/contact' | prepend: site.baseurl | prepend: site.url }}">Contact</a>
  </li>
</ul>
